{% extends "layout.html.twig" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Réservations</h1>

      <div class="btn-group" role="group" aria-label="...">
        <a href="/reservation/pending" class="btn btn-default">En attente</a>
        <a href="/reservation/en-cours" class="active btn btn-default">En cours de locations</a>
        <a href="/reservation/terminees" class="btn btn-default">Terminée</a>
      </div>

    </div>
  </div>

  <div class="row">

    {% for location in locations %}

    <div class="col-md-4">
<img src="/images/{{ location['photo'] }}" class="img-responsive">
      <div style="padding:10px; border:1px solid red; border-top:none;">
        <h5>{{ location['brand']}} - {{ location['model']}}</h5>
        <h6>{{ location['city']}}</h6>
        <span class="prix">{{ location['price']}}€</span> <br>
        Du {{ location['date_start'] }}<br>
        Au {{ location['date_end'] }}<br>
      </div>
    </div>
    {% endfor %}

  </div>


</div>



{% endblock %}
